<div class="forms-container">
    <div class="form-profile">
        <form  [formGroup]="profileForm" (ngSubmit)="onSubmit1()" class="profile" novalidate >
            <label name= "degree"></label>
            <input type="number" formControlName = "degree" name="degree" class ="form-control round" placeholder="degree here">
            <div *ngIf="profileForm?.touched && profileForm?.errors?.['expressionInvalid']"
                  class="alert alert-danger">
                         degree must be an integer between 2 and 7
            </div>
            <button [disabled]="profileForm.invalid" class="btn btn-secondary">Enter</button>
        </form>
    </div>
    <div class="form-matrix">
        <form [formGroup]="matrixForm" (ngSubmit)="submitMatrixForm()">
            <div class="formWithButton">
                <div *ngFor="let row of rows; let i = index" class="matrix-row">
                    <div *ngFor="let col of cols; let j = index" class="matrix-cell">
                        <div class="cell-container">
                            <input type="number" 
                                  [formControlName]="'cell' + i + '_' + j" 
                                  class="form-control"
                                  id="cell"
                                  (blur)="onFieldBlur('cell' + i + '_' + j)"
                                  required>
                            <label for="cell" class="badge bg-secondary bgcell" > x{{j+1}}</label>
                            <div *ngIf="matrixForm.get('cell' + i + '_' + j)?.errors?.['pattern']" class="error-message">
                                
                                
                                <div *ngIf="matrixForm.get('cell' + i + '_' + j)?.touched && matrixForm.get('cell' + i + '_' + j)?.errors?.['expressionInvalid']"
                                      class="alert alert-danger">
                                           Numbers only!
                                </div>
                                <div *ngIf="matrixForm.get('cell' + i + '_' + j)?.errors?.['required']">Cell is required.</div>
                               <div *ngIf="matrixForm.get('cell' + i + '_' + j)?.errors?.['pattern']">Only numbers are allowed!</div>
                            </div>
                        <span *ngIf="j < degree-1 " style="color:rgb(197, 21, 197);font-size:1.5em">+</span>
                        </div>
                    </div><span style="color:aliceblue;font-size:1.5em">=</span>
                </div>
                <div *ngIf="matrixForm.errors?.['backend']" class="alert alert-dark error-message" role="alert" >
                    {{ matrixForm.errors?.['backend'] }}
                </div>
            
                <button [disabled]="matrixForm.invalid" type="submit" class="btn btn-primary buttonwidth buttonsMargin">Submit</button>
            </div>
        </form>
        <div class="formWithButton rowContentStart">  <!--form-ordinates-->
            <form [formGroup]="ordinatesForm"  (ngSubmit) = "submitOrdinatesForm()">  <!--ordinates-row-->
                <div *ngFor="let row of rows; let i = index" class="matrix-row ordinatesButton"> <!--form-control rounded ordinates-cell-->
                        <input type ="number" class="form-control" style="width:40%"  [formControlName]="'ordin'+ i" required/><!--rounded input-ordinate-->
                </div>
                <button type="submit" class="btn btn-primary buttonsMargin" [disabled]="ordinatesForm.invalid">Submit</button>
            </form>
        </div>
    </div>
    
</div>
<div *ngIf="ordinatesForm.touched" class="badge badge-light container">
    <div class="results" name="response">
        The solution is: 
        <span *ngFor="let result of results; let i = index">
            <div class="solucionCell">
                    x{{i}}={{result| number:'1.0-4'}}{{i < results.length - 1 ? '' : ''}}
            </div>        
        </span> 
    </div>
</div>
