
body{
  background-color: rgb(2, 14, 24);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    background-color: rgba(125, 138, 167,1);
}

badge{
 text-align:  center;
 align-items: center;
}
.bgcell{
    text-align:  center;
    align-items: center;
}

.profile{
    max-width: 12%;
    margin-bottom:2%;
    margin-top:2%;
}

.forms-container{
    margin-top:1%;
    margin-left: 1%;
    margin-bottom:0;
    margin-right:0;
    display:flex;
    flex-direction: row;
}

.form-profile{

width: 25%;
}

.form-matrix{
width:50%;
}

.form-ordinates{
width:20%;
//justify-content:flex-start;
}



.matrix-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  
  .matrix-cell {
    margin: 0 1%;
    width:15%;
    border-style:solid rgb(49, 49, 141);
    background-color:rgb(175, 175, 233);
  }
  
  .cell-container{
    display: flex;
  }

  .ordinates-row{
   display:flex;
   flex-direction: column;
   width:40%;
  }
  .ordinates-cell{
    background-color: rgba(19, 102, 128, 0.89);
    margin-top: 10%;
    margin-bottom:10%;
    padding: 0;
    
    
  }
  .input-ordinate{
    background-color: rgba(230, 231, 168, 1);
    width:100%;
  }

  .formWithButton{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
  }
  .buttonwidth{
    width:20%;
  }

  .error-message{ 
    margin:3%;
    color:rgb(155, 8, 8);
    background-color: chocolate;
  }
  
  .results{

    color:rgb(161, 133, 98);
    background-color: rgb(155, 8, 8);
    
  }

  .container{
    display:flex;
    min-height:40%;
    min-width:40%;
    background-color: rgb(155, 8, 8);
  }