body{
    background-color: rgb(2, 14, 24);
}

.programm-name{
    font-size:3rem;
    font-family:fantasy;
    margin:2%;
    padding:3%;
    background: linear-gradient(45deg, red, blue);
    width:80%;
    height:70%;

}